* {
    margin: 0;
    padding: 0;
}

.header {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://images.pexels.com/photos/1108814/pexels-photo-1108814.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(4,9,30,0.8), rgba(4,9,30,0.8));
}

.nav-links {
    flex: 1;
    text-align: left;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
    font-size: 18px;
}

.nav-links ul li a {
    color: white;
}

.nav-links ul li a:hover {
    color: lightblue;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 64px;
    line-height: 2.5em;
}

.text-box p {
    font-size: 48px;
}

.beginning h2 {
    margin-top: 60px;
    margin-left: 45px;
    font-size: 32px;
    margin-bottom: -10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: white;
    margin-bottom: 50px;
}

.container div {
    height: 230px;
    width: 100%;
    background: white;
    margin: 40px;
    font-size: 20px;
    line-height: 1.4em;
}

.components {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://t3.ftcdn.net/jpg/05/49/69/36/360_F_549693683_73ll7LNdy5rJCACeWgPJzImO4LwLew7r.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.components-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

.printing {
    height: 200px;
}

#Ugrinsky-Wind-Turbine {
    color: black;
}

#Ugrinsky-Wind-Turbine:hover {
    color: #04091ecc;
}

.printed-components {
    margin-top: 50px;
    margin-left: 35px;
    font-size: 20px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: white;
    margin: 30px 200px 30px 200px;
}

.container-1 div {
    height: 400px;
    width: 100%;
    margin: 60px;
    font-size: 20px;
    line-height: 1.4em;
}

.container-1 div img {
    display: block;
    margin: auto;
    height: 200px;
}

.container-1 div p {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0px 40px 0px 40px;
}

#name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: white;
    margin: 0px 200px 70px 200px;
}

.container-2 div {
    height: 400px;
    width: 100%;
    margin: 60px;
    font-size: 20px;
    line-height: 1.4em;
}

.container-2 div img {
    display: block;
    margin: auto;
    height: 200px;
}

.container-2 div p {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 0px 40px 0px 40px;
}

#name-2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 24px;
}

.printing {
    margin-bottom: 975px;
}

.the-generator {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://northendelectric.com/wp-content/uploads/2023/11/AdobeStock_128498997-1080x675.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.generator {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

.electronics {
    height: 300px;
}