h1 {
  text-align: center;
  margin: 20px;
  padding: 5px;
}

body {
  background: white;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.todo-list {
  list-style-type: none;
}

.sub-item-link {
  text-decoration: none;
  color: blue;
}

.sub-item-link:visited {
  color: purple;
}

.sub-item-link:hover {
  color: yellow;
}

.sub-item-link:focus {
  outline: solid 3px;
  outline-color: orange;
}

.sub-item-link:active {
  color: red;
}

.sub-item {
  list-style-type: square;
  padding-bottom: 20px;
}

.todo-list > li {
  margin-bottom: 30px;
  margin-right: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(237, 243, 238)
}

input {
  margin-bottom: 12px;
}
